@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=K2D:wght@400;700&display=swap');
:root {
  --clr-primary: hsla(204, 76%, 82%, 1);
  --clr-primary10: hsla(204, 76%, 82%, 0.1);
  --clr-primary20: hsla(204, 76%, 82%, 0.2);
  --clr-primary30: hsla(204, 76%, 82%, 0.3);
  --clr-primary40: hsla(204, 76%, 82%, 0.4);
  --clr-primary50: hsla(204, 76%, 82%, 0.5);
  --clr-primary60: hsla(204, 76%, 82%, 0.6);
  --clr-primary70: hsla(204, 76%, 82%, 0.7);
  --clr-primary80: hsla(204, 76%, 82%, 0.8);
  --clr-primary90: hsla(204, 76%, 82%, 0.9);

  --clr-secondary: hsla(206, 47%, 73%, 1);
  --clr-secondary10: hsla(206, 47%, 73%, 0.1);
  --clr-secondary20: hsla(206, 47%, 73%, 0.2);
  --clr-secondary30: hsla(206, 47%, 73%, 0.3);
  --clr-secondary40: hsla(206, 47%, 73%, 0.4);
  --clr-secondary50: hsla(206, 47%, 73%, 0.5);
  --clr-secondary60: hsla(206, 47%, 73%, 0.6);
  --clr-secondary70: hsla(206, 47%, 73%, 0.7);
  --clr-secondary80: hsla(206, 47%, 73%, 0.8);
  --clr-secondary90: hsla(206, 47%, 73%, 0.9);

  --clr-accent: hsla(249, 75%, 63%, 1);
  --clr-accent10: hsla(249, 75%, 63%, 0.1);
  --clr-accent20: hsla(249, 75%, 63%, 0.2);
  --clr-accent30: hsla(249, 75%, 63%, 0.3);
  --clr-accent40: hsla(249, 75%, 63%, 0.4);
  --clr-accent50: hsla(249, 75%, 63%, 0.5);
  --clr-accent60: hsla(249, 75%, 63%, 0.6);
  --clr-accent70: hsla(249, 75%, 63%, 0.7);
  --clr-accent80: hsla(249, 75%, 63%, 0.8);
  --clr-accent90: hsla(249, 75%, 63%, 0.9);

  --clr-text: hsla(206, 73%, 4%, 1);
  --clr-text10: hsla(206, 73%, 4%, 0.1);
  --clr-text20: hsla(206, 73%, 4%, 0.2);
  --clr-text30: hsla(206, 73%, 4%, 0.3);
  --clr-text40: hsla(206, 73%, 4%, 0.4);
  --clr-text50: hsla(206, 73%, 4%, 0.5);
  --clr-text60: hsla(206, 73%, 4%, 0.6);
  --clr-text70: hsla(206, 73%, 4%, 0.7);
  --clr-text80: hsla(206, 73%, 4%, 0.8);
  --clr-text90: hsla(206, 73%, 4%, 0.9);

  --clr-body: hsla(203, 76%, 97%, 1);
  --clr-sun: hsla(34, 84%, 54%, 1);
  --clr-sun-stroke: hsla(34, 84%, 54%, 0.4);
  --clr-sun-shadow: hsla(34, 84%, 54%, 0.25);

  --ff-primary: 'K2D', sans-serif;
  --ff-secondary: 'Inria Serif', serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--ff-primary);
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

@keyframes spinner-z355kx {
  to {
    transform: rotate(360deg);
  }
}

/* main container */
.main {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.current-weather-container {
  background-color: var(--clr-primary30);
  width: 300px;
  flex-grow: 1;
  padding: 15px;
}

#form__search {
  height: 26px;
  display: flex;
  padding: 3px;
  background-color: var(--clr-primary);
  border-radius: 8px;
  width: 230px;
  box-sizing: border-box;
}

#form__search-icon {
  display: flex;
  align-items: center;
  padding: 5px;
}

#form__location {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  padding-inline: 5px;
  border-radius: 5px;
}

#form__location:focus {
  outline: transparent;
}

#form__location:focus #form__search {
  border: 2px solid black;
}

.current--main-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20px;
}

#current--location {
  font-family: var(--ff-primary);
  font-size: 1.3rem;
}

.current--main-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#current--temp__con {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 200px;
}

#current--tempvalue {
  font-size: 6rem;
  color: var(--clr-accent);
  font-family: var(--ff-primary);
  text-shadow: 0px 7px 3px rgba(0, 0, 0, 0.25);
}

#current-icon {
  height: 100px;
  position: absolute;
  top: 38%;
  left: 50%;
  filter: drop-shadow(0px 7px 3px rgba(0, 0, 0, 0.25));
}

#current--condition {
  font-family: var(--ff-primary);
  font-size: 1.3rem;
  color: var(--clr-text);
}

#current--date {
  font-size: 0.9rem;
  color: var(--clr-text);
}

.sunrise-sunset {
  display: flex;
  justify-content: space-between;
}

.sunrise-sunset--text {
  color: var(--clr-text);
  font-family: var(--ff-secondary);
  font-size: 1.1rem;
}

.sunrise-sunset-time {
  font-size: 1.3rem;
  font-family: var(--ff-secondary);
  color: var(--clr-text);
}

.sunset-con--top,
.sunrise-con--top {
  margin-bottom: 10px;
}

.sun-direction {
  margin-inline: auto;
  margin-top: 40px;
  height: 130px;
  width: max-content;
  padding: 10px 20px;
  overflow: hidden;
}

.dash {
  width: 220px;
  height: calc(110px * 2);
  border: 3px dashed var(--clr-primary);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.moon-tonight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  box-sizing: border-box;
  padding-top: 15px;
}

#moon-type {
  font-family: var(--ff-primary);
  font-size: 1rem;
  color: var(--clr-text);
}

#tonight {
  color: var(--clr-text40);
  font-size: 0.9rem;
}

.orbit {
  position: absolute;
  width: 220px;
  height: calc(110px * 2);
  border: none;
  border-radius: 50%;
  transform: rotate(60deg);
}

.sun {
  width: 10px;
  height: 10px;
  background-color: var(--clr-sun);
  transform: translate(-8px, 105px);
  border: 1px solid var(--clr-sun-stroke);
  box-shadow: 0px 0px 4px 7px var(--clr-sun-shadow);
  border-radius: 50%;
}

.forecastAndHighlights {
  width: 800px;
  margin-inline: auto;
}

/* other data container */
.other-data-container {
  padding-block: 10px;
  background-color: var(--clr-body);
  flex-grow: 999;
}

/* some additional container */
.some-additional-container {
  top: 15px;
  position: absolute;
  right: 30px;
}

#C-F__container {
  width: 70px;
  height: 28px;
  position: relative;
  border-radius: 50px;
}

#C-F__container > #celcius__farenheit {
  position: absolute;
  appearance: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

#C-F__container > #celcius__farenheit::before {
  background: #fff;
  border-radius: 50px;
  content: '';
  height: 100%;
  background-color: var(--clr-accent40);
  position: absolute;
  width: 100%;
}
#C-F__container > #celcius__farenheit::after {
  background-color: var(--clr-accent70);
  border-radius: 50px;
  content: attr(data-temp);
  height: 100%;
  position: absolute;
  transition: all 0.4s;
  width: 60%;
  display: flex;
  justify-content: center;
  font-family: var(--ff-primary);
  align-items: center;
  color: #fff;
}

#C-F__container > #celcius__farenheit:checked::after {
  transform: translate(65%);
  background-color: var(--clr-accent70);
}
/* forecast weather container */

.forecast-weather-container {
  background-color: var(--clr-secondary20);
  min-height: 200px;
  padding: 15px 20px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  margin-top: 50px;
  border-radius: 20px;
}

.forecast-weather-container > .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.time-forecast {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 10px;
  cursor: pointer;
}

.time-forecast::-webkit-scrollbar {
  height: 5px;
}

/* Style the scrollbar handle or thumb */
.time-forecast::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent30);
  border-radius: 5px;
}

/* Optional: Style the scrollbar track on hover */
.time-forecast:hover::-webkit-scrollbar-track {
  background-color: var(--clr-body);
}

.time-forecast li {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-body);
  width: 80px;
  height: 110px;
  padding: 10px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.time {
  color: var(--clr-text70);
  font-size: 0.9rem;
}

.temp {
  color: var(--clr-text);
  font-size: 1.1rem;
}

.forecastrange {
  font-size: 1rem;
  font-weight: var(--fw-bold);
  color: var(--clr-text);
}

.forecast__option {
  padding: 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-text);
  font-size: 0.8rem;
  border-radius: 8px;
  background-color: var(--clr-secondary80);
  border: transparent;
  cursor: pointer;
}

/* highlights weather container */

.highlights__text {
  color: var(--clr-text);
  font-size: 1rem;
  font-weight: var(--fw-bold);
  margin-bottom: 25px;
}

.highlights {
  min-height: 370px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1.3fr;
  gap: 25px;
  width: 100%;
  justify-content: center;
}

.highlights__box {
  background-color: var(--clr-secondary20);
  padding: 10px 15px;
}

.highlights__box > .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.top > .status__name {
  color: var(--clr-text);
  font-weight: var(--fw-bold);
  font-size: 1rem;
}

#uvBox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}

#semi-circle {
  width: 80%;
  aspect-ratio: 2/1;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#extrauv {
  display: flex;
  justify-content: space-between;
}

.uvlevel {
  position: absolute;
  color: var(--clr-text70);
  font-size: 0.7rem;
}

.uvlevelothers {
  color: var(--clr-text70);
  font-size: 0.7rem;
}

#uvcurrentlevel {
  color: var(--clr-accent);
  font-size: 1rem;
}

#uv3 {
  top: 40%;
  left: -5px;
}

#uv12 {
  top: 40%;
  right: -5px;
}

#uv6 {
  top: -10px;
  left: 25%;
}

#uv9 {
  top: -10px;
  right: 25%;
}

#uvlow {
  top: -110%;
  right: 25%;
}

#semi-circle::before {
  box-sizing: border-box;
  content: '';
  width: 100%;
  height: calc(100% * 2);
  position: absolute;
  top: 0;
  left: 0;
  border: 15px solid;
  border-color: var(--clr-accent30) var(--clr-accent30) var(--clr-accent)
    var(--clr-accent);
  border-radius: 50%;
  transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
}

@media screen and (max-width: 860px) {
  .sunrise-sunset {
    justify-content: center;
    gap: 2rem;
  }

  #form__search {
    width: 50%;
  }

  .forecastAndHighlights {
    width: 100vw;
  }

  .highlights {
    padding-inline: 20px;
  }
}

@media screen and (max-width: 640px) {
  .highlights {
    gap: 15px;
  }

  #C-F__container {
    height: 15px;
    width: 40px;
  }

  .other-data-container {
    width: 100%;
    padding: 0;
  }

  .current-weather-container {
    width: 100%;
  }

  .some-additional-container {
    right: 0;
    top: 60px;
    left: 20px;
  }

  .highlights {
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .highlights__box {
    aspect-ratio: 2/1.5;
  }
}

@media screen and (max-width: 455px) {
  .highlights {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  #form__search {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 356px) {
  .highlights {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .highlights__box {
    aspect-ratio: 1/1;
  }

  #form__location::placeholder {
    visibility: hidden;
  }
}

@media screen and (max-width: 270px) {
  .sun-direction {
    display: none;
  }
}
